body{
    margin: 0%;
    padding: 2%;
}
.page{
    display: flex;
    gap: 40px;
    align-items: center;
    text-decoration: none;

}

.a img{
    border: 2px;
    border-radius: 50%;
    text-decoration: none;
}
.z{
    text-decoration: none;
  color: rgb(255, 255, 255);
}

a{
    color: white;
}



.v1{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-top: -100px;
    position: absolute;
    z-index: -1;
    
}