body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
   
}
.navbar{
    display: flex;
    gap: 30px;
    align-items: center;
    text-decoration: none;
    position: absolute;

}

.z{
    text-decoration: none;
  color: rgb(255, 255, 255);
}

a{
    color: white;
}



.v1{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    margin-top: -100px;
    z-index: -1;
    
}
.hero-content{
    color: aliceblue;
    margin-top: -200px;
    text-align: center;

}

.one{
    background-color: transparent;
    color: aliceblue;
    border: none;
   
}
    

.container{
    margin-top: 100px;
    display: flex;
 justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  
}

.left{
    max-width: 30%;
  padding-left: 5px;
  padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.two{
     background-color: transparent;
     color: rgb(3, 3, 3);
     border: none;
}

.picture{
    display: flex;
    width: 98vw;
    box-sizing: border-box;
}

.img-1, .img-2{
    width: 100%;
}







